@page "/photos"
@model MyPhotos.Presentation.Pages.Photos.PhotosModel
@{
    ViewData["Title"] = "Photos";
}

<h1>Photos</h1>
<form method="post">
    Filters:
    <div>
        <label>Name</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Type</label>
        <input type="text" name="type"/>
    </div>
    <div>
        <label>Event</label>
        <input type="text" name="eventName"/>
    </div>
    <div>
        <label>Place</label>
        <input type="text" name="place"/>
    </div>
    <div>
        <label>Person</label>
        <input type="text" name="person"/>
    </div>
    <button>Filter</button>
</form>
<table style="width:100%">
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>CreationDate</th>
        <th>Types</th>
        <th>Event</th>
        <th>Places</th>
        <th>People</th>
    </tr>
    @if (Model.Photos != null)
    {
        @foreach (var photo in Model.Photos)
         {
             <tr>
                 <td><img class="photo" src="@photo.Path" alt="@photo.Name" /></td>
                 <td>@photo.Name</td>
                 <td>@photo.CreationDate</td>
                 <td>@string.Join(',', photo.Types)</td>
                 <td>@photo.Event</td>
                 <td>@string.Join(',', photo.Places)</td>
                 <td>@string.Join(',', photo.People)</td>
             </tr>
         }
    }
</table>

